body {
  background-image: url('images/space.jpg');
  background-size: cover;
  font-family: monospace;
}

.title {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 3%;
}

.score {
  display: flex;
  justify-content: flex-end;
}

.scoreBoard {
  background: rgba(255, 255, 255, 0.7);;
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 1%;
  margin-right: 5%;
}

.row {
  display: flex;
  justify-content: center;
}

.paperObj, .scissorsObj {
  margin: 0 10px;
}

.options {
  margin-top: 10%;
}

span {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

span:hover {
  transform: scale(1.5);
}

.rock, .paper, .scissors {
  height: auto;
  width: 80px;
  display: block;
  margin: 15% auto;
}

.paper {
  width: 65px;
}
